# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Broker storage (ignore contents, but keep .gitkeep)
broker/storage/*
!broker/storage/.gitkeep
*.db
logs/

# Editor files
.vscode/
*.swp
